:root {
    --serif: "Crimson Pro", Georgia, 'Times New Roman', Times, serif;
}
* { 
    padding: 0;
    margin: 0;
    vertical-align: top;
}
html {
    font-size: 16px;
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    background-color: rgb(220, 220, 220);
}

body {
    margin: 0;
    line-height: 1.25rem;
    color: #222; 
    display: block;
    height: 100%;
}

content {
    display: block;
    padding: 2rem;
    margin: 2rem;
    background-color: rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
color: #1EAEDB; }
a:hover {
color: rgb(15, 160, 206); }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
    
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}


h1 {
    font-size: 2rem;
    /* margin-bottom: 2rem; */
    font-family: var(--serif);
    line-height: 2rem;
}
h2 {
    font-size: 1.75rem;
    /* margin-bottom: 1.75rem; */
    font-family: var(--serif);
    line-height: 2rem;
}
h3 {
    font-size: 1.5rem;
    /* margin-bottom: 1.5rem; */
    font-family: var(--serif);
    line-height: 2rem;
}
h4 {
    font-size: 1.25rem;
    /* margin-bottom: 1.25rem; */
    font-family: var(--serif);
    line-height: 2rem;
}
h5 {
    font-size: 1rem;
    /* margin-bottom: 1rem; */
    font-family: var(--serif);
    line-height: 2rem;
}
h6 {
    font-size: .75rem;
    /* margin-bottom: .75rem; */
    font-family: var(--serif);
    line-height: 2rem;
}

p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
    /* margin-top: 1rem; */
}

dt {
    font-family: var(--serif);
}

p {
    margin: 1rem 0;
}


ul {
    margin-left: 1rem;
}

.clear {
clear: both; }

.hide {
    display: none;
}

.box {
    display: flex;
    flex-flow: row wrap;
}
.box.row {
    display: flex;
    flex-flow: row nowrap;
}

fieldset {
    padding: 1rem;
}

body note:last-child {
    opacity: 0.4;
    padding: 2rem;
    display: block;
}

._960 {
    max-width: 960px;
    margin: 0 auto;
}
blockquote {
    padding: 1rem;
    margin: 1rem;
    font-family: var(--serif);
    border-left: 1px solid #0FA0CE;
    background-color: rgba(15, 160, 206, 0.07);
    font-size: 1.1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ol, ul {
    margin-left: 2rem;
    padding: 1rem 0;
}